body {
  display: flex;
  padding-bottom: 10em;
  font-family: Palatino;
  font-size: 18px;
  line-height: 1.5;
}
nav {
  flex: 0 0 400px;
}
nav > ul {
  position: fixed;
  top: 1em;
}
main {
  max-width: 650px;
}
#nav-toggle {
  display: none;
  background: #fff;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 12px;
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
  cursor: pointer;
}
#nav-toggle:before {
  content: '';
  display: block;
  position: relative;
  top: 4px;
  left: 0;
  width: 30px;
  border-bottom: 4px solid #333;
}
.header h1 {
  text-transform: uppercase;
  text-align: center;
}
.header h1 small {
  font-size: 70%;
}
.header .author {
  text-align: center;
}
.header .author:before,
.header .author:after {
  content: '~';
  display: block;
  color: gray;
  margin: 0.75em;
}
footer:before {
  content: '~';
  display: block;
  color: gray;
  margin: 3em;
  text-align: center;
}
code {
  font-size: 90%;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 2px;
  border: 2px solid #303030;
}
img.left {
  width: 300px;
  max-width: 50%;
  margin-right: 12px;  
  float: left;
}
img.center {
  margin: 0 auto;
  width: 300px;
  max-width: 50%;  
}
img.right {
  width: 300px;
  max-width: 50%;
  margin-left: 12px;  
  float: right;
}
img.circle {
  border-radius: 50%;
}
img.autosize {
  width: auto;
}
img.noborder {
  border: 0;
}
img.smaller.left {
  width: 150px;
}
img.smaller.right {
  width: 200px;
}
.contained-img {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100px;
  border: 2px solid #333;
  border-radius: 2px;
}
table {
  border-collapse: collapse;
  margin-bottom: 1em;
  font-size: 1em;
}
thead {
  background: #eee;
  font-weight: bold;
}
td {
  border: 1px solid #555;
  padding: 0.3em 0.5em;
}
td:first-child,
td:nth-child(2) {
  white-space: nowrap;
}
table.refs td {
  border: 0;
}
blockquote {
  margin: 2em;
  font-size: 1.1em;
}
hr {
  margin: 3em;
  border: 0;
}

@media (max-width: 500px) {
  hr {
    margin: 2em;
  }
}

@media (max-width: 1050px) {
  .header h1 {
    margin: 2em 0;
    font-size: 1.4em;
  }
  .header h1 small {
    color: #666;
  }
  blockquote {
    margin: 1.5em;
    font-size: 1em;
    color: #666;
  }
}

@media (max-width: 1300px) {
  body {
    display: block;
  }
  #nav-toggle {
    display: block;
  }
  nav {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
  }
  nav.visible {
    display: block;
  }
  nav ul {
    position: relative;
    margin: 0;
    list-style: none;
  }
  nav > ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  nav a {
    display: block;
    padding: 15px 20px;
    background: #eee;
    margin: 0 0 10px;
    text-decoration: none;
  }
  main {
    margin: 0 auto;
    padding: 20px;
  }
}