body {
  padding-bottom: 10em;
}
main {
  max-width: 800px;
  margin-left: 10px;
}
code {
  font-size: 90%;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
}
img.left {
  width: 300px;
  max-width: 50%;
  margin-right: 12px;  
  float: left;
}
img.center {
  margin: 0 auto;
  width: 300px;
  max-width: 50%;  
}
img.right {
  width: 300px;
  max-width: 50%;
  margin-left: 12px;
  margin-bottom: 10px;
  float: right;
}
img.circle {
  border-radius: 50%;
}
img.autosize {
  width: auto;
}
img.noborder {
  border: 0;
}
img.smaller.left {
  width: 150px;
}
img.smaller.right {
  width: 200px;
}
.contained-img {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100px;
}
table {
  border-collapse: collapse;
  margin-bottom: 1em;
}
thead {
  font-weight: bold;
}
td {
  border: 1px solid #555;
}
td:first-child,
td:nth-child(2) {
  white-space: nowrap;
}
table.refs td {
  border: 0;
}
